
.category-form{
  margin-top: 20px;

}

.form-row label{
  width: 100%;
}


.categorytext-box{
  width: 100% !important;
  padding: 8px;
  padding-right: 60px;
 border: 2px solid lightgrey;
    border-radius: 5px ;
}


.categorypic-box{
  width: 100% !important;
    padding: 8px;
  padding-right: 0px;
  border: 2px solid lightgray;
   border-radius: 5px ;
}


.categorysubmit-btn button{
  background-color: black;
  color: white;
padding: 10px 20px;  
margin-top: 25px;

    border: none;
  border-radius: 5px;

}

.categorysubmit-btn button:hover{
  background-color: red;
}


.categoryform-line{
  border: 1px solid grey;

}


/* 1200PX */

 @media(max-width:1200px){

    .category-form .container {
    
        max-width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }

}

/* 992PX */

@media(max-width:992px){

.categorysubmit-btn button{
 
margin-top: 10px;

}
    
}





/* TABLE STARTED: */



/* CATEGORY LIST CSS: */

.category-table{
width: 100%;
border: 1px solid lightgray;

}



.catimg-head{
  width: 15%;
}

.catname-head{
  width: 10%;
}

.catpro-head {
  width: 10%;
}


.catdate-head{
  width: 15%;
}

.cataction-head{
  width: 10%;
}


.category-table td:nth-child(6) {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.category-table th{
  border: 1px solid lightgray;
  padding: 12px;
  text-align: center;
}


.category-table td{
  border: 1px solid lightgray;
  padding: 12px 6px;
  text-align: center;
}



.table-cat-img{
 
  width: 100%px;
  height: 150px;
object-fit: contain;


}



.cat-search-box{
 gap: 15px;
  justify-content: flex-end;

}

.cat-search-box input{
padding-left: 10px;
height: 30px;
border-radius: 2px;
border: 1px solid lightgray;
}

.cat-search-box select{
padding-left: 10px;
height: 30px;
border-radius: 2px;
border: 1px solid lightgray;

}



.categoryform-btn{
  padding: 0px !important;

}

.categoryform-btn button{

background-color: white;
color: black;
border: 2px solid lightgray;
margin: 0px 3px;
font-size: 15px;
border-radius: 3px;
}

.categoryform-btn button:hover{
cursor: pointer;
color: red;
border-color: red;

}


/* TABLE: 1200PX  */

 @media(max-width:1200px){

    .category-list .container {
    
        max-width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }


  }





  /* FOR MOBILE CARD : SM,MD */

  /* MOBILE CARD: 992PX+ */



.mobile-cat-card{
  border:1px solid lightgray;
  padding: 12px;
}


.mobile-cat-img{
 
  width: 100%;
  height: 250px;
object-fit: contain;

}

.mobile-cat-logo{
  padding: 0px !important;
   text-align: center;

}

.mobile-cat-date{
  padding: 0px !important;
  font-size: 16px;


}


.mobile-catform-btn button{

background-color: white;
color: black;
border: 2px solid lightgray;
margin: 0px 8px;
font-size: 20px;
border-radius: 3px;
}

.mobile-catform-btn button:hover{
cursor: pointer;
color: red;
border-color: red;

}


/* .pro-name-category{
  margin: 0px;
  
} */




/* MOBILE CARD : 768PX+   */
  
  @media(max-width:768px){


.cat-search-box{
 gap: 12px;
  justify-content: flex-end;

}

.cat-search-box input{
  font-size: 13px;

}

.cat-search-box select{
  font-size: 12px;

}

 .mobile-cat-img{
 
  width: 100%;
  height: 200px;
object-fit: contain;

}


    .mobile-cat-date{
  font-size: 14px;
  margin-bottom:7px;

}

.mobile-catform-btn button{

margin: 0px 5px;
font-size: 18px;

}
    
  }



  /* MOBILE CARD: 576PX+ */


  @media (max-width: 576px) {


 .mobile-cat-img{
 
  width: 100%;
  height: 150px;
object-fit: contain;

}



.cat-search-box{
 gap: 12px;
  justify-content: left;
  margin-bottom: 10px;

}

.cat-search-box input{
  font-size: 13px;

}

.cat-search-box select{
  font-size: 12px;

}


 .mobile-cat-logo{
  text-align: left;
  margin-left: 5px;
 }


 .mobile-cat-date{
       margin-top: 5px;
       margin-bottom: 10px;
      margin-left: 5px; 
  font-size: 14px;

}


.mobile-catform-btn{
  text-align:left;
  margin-left: 25px;
  padding-left: 0px !important;


}

}





