

body{
        font-family: "Poppins", sans-serif !important;
        margin: 0px !important;
        padding: 0px !important;
        overflow-x: hidden;
       
}

.head-row{
 background-color: black;
 border-bottom: 1px solid gray;
}


.mobile-bar{
    display: none;

}

.logo-area{
    display:flex;
    align-items:center;
    
} 

.logo-section{
    display:flex;
    align-items:center;
}


.bolt-icon{
    color: red;
 padding-bottom: 0px;
    font-size: 32px;

}

 .web-logo{
      height: 100px;
    margin-left: -30px;
   
    }


.webname{
    padding-top: 0px;
      font-family: "Oswald", sans-serif;
    
} 

 .tittle{
    color: red;
    font-size: 35px;
}

.subtitle{
   color: white;
font-size: 22px;

} 

.hamb-bars{
    color: white;
    display: none;
cursor: pointer;
    
    }
.hamb-bars:hover{
    color: red;
}



/* center div */

.nav-link{
    display: flex !important;
    align-items: center;
    justify-content: center;
  
 }

 .nav-name li{

 padding: 15px;

}

.nav-name a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    /* padding-bottom: 5px; */

}

.nav-name :hover a{
    color: red;
    border: 10px;
    border-bottom: 2px solid red;
} 

.account-head{
    color: white;
    position:relative;
    cursor: pointer;
     padding-bottom: 5px;
   
}

.account-head:hover {
    color: red;
    border-bottom: 2px solid red;
    
    
   
}

.account-drop{
    display: none;
    position: absolute;
   
     top: 100%;
    left: 50%; 
     transform: translateX(-50%);

    padding-left:8px; 
    width: 150px;
    height: 95px;

    background-color: white;
    z-index: 9999;
}


.account-head:hover .account-drop {
    display: block;
}

.acc-drop-list li{

    padding: 10px;

}

 .acc-drop-list li a{
    color: black !important;
    border:none !important
 
 
}

.acc-drop-list li a:hover{
    color: red !important;
    border-bottom: 2px solid red !important;
}






/* 3rd div */

 .nav-right{
 padding-left: 0px;
  

} 
 
 .welcome-text{
    color: lightgrey;
margin-bottom: 30px;
  padding-left: 30px;

 gap: 25px;  

 } 

.welcome-text b{
    color: red;
    padding-left:5px;
}

.logbtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 19px;
}

.logbtn:hover i{
    color: red;
}

.nav-right{

   margin-left: 30px;

}

.nav-icon{

  
 display: flex;
    align-items: center;
    gap: 40px; 

}

.nav-icon i{
   color: white;
padding-left: 0px;
   font-size: 20px;
cursor: pointer;   
} 


.nav-icon i:hover{
    color: red;
} 






/* for DESKTOP 1200  */

 @media(max-width: 1200px){

.bolt-icon{
    font-size: 27px;
  
}

.web-logo{
      height: 85px;
   margin-left: -25px;
    }

 .tittle{
  font-size: 27px;
}

.subtitle{
  
font-size: 17px;

} 



.nav-name li{
 
    font-size: 14px;
    padding: 11px;


}

.account-drop{
 

    width: 130px;
    height: 90px;

   
}


 .welcome-text{
   
    padding-left: 20px;
margin-bottom: 20px;
font-size: 12px;
  

 } 

.logbtn{
    font-size: 14px;
}

.nav-right{

   margin-left: 55px;

}

.nav-icon{

    gap: 28px; 

}

 .nav-icon i{
  
   font-size: 15px;
cursor: pointer;   
} 


}







/* for LAPTOP 992px */

@media(max-width:992px){


.nav-link{

    display: none !important;
}

.nav-name.d-flex{
    display: none !important;
}

.bolt-icon{
    font-size: 30px;
    padding-bottom: 0px;

}

.webname{
    padding-top: 5px;

}

.web-logo{
    height: 100px;
margin-left: -22px;
}

.tittle{
    font-size: 38px;
  
}

.subtitle{
    font-size: 28px;
    white-space: nowrap;
}

.webname{

padding-bottom: 10px;

}

.hamb-bars{
    display: inline-block;
    padding-left: 13px;
font-size: 30px;

}


.welcome-text{
   display: none;
}


.nav-user{
    margin-left: auto;

}



  .nav-icon .user-icon,
    .nav-icon .search-icon,
    .nav-icon .fa-heart{
        display: none;
    }

   .nav-icon .fa-cart-shopping{
  padding-top: 52px; 
font-size: 20px;

    } 


/* MOBILE-SIDEBAR from  991px*/

.sidebar-overlay{
    position: fixed;
    inset: 0;
    background-color:rgb(0,0,0,0.5);
     z-index: 999; 

}


.mobile-bar{
    display: block !important;
    height: 100%;
    width: 300px;
    position: fixed;
 top:0;

 z-index: 1001;
 
   background-color: black;

    padding: 15px 20px;
    box-sizing: border-box;
  }

  

.close-row{
    display: flex;
    justify-content: flex-end;

}


.exit-icon{
    background-color:transparent;
    border: none;
    cursor: pointer;
    color: white;
    display: flex;
    font-size: 15px;
    padding-bottom: 8px;
  
   /* margin-top: -60px;
   padding-left: 100px; */
}

.exit-icon:hover{
    
    cursor: pointer;
    color: red;
   
  
   /* margin-top: -60px;
   padding-left: 100px; */
   

}

.sidebar-top{
  display: flex;
justify-content: space-between;


}

.sidebar-top h1{
    color: red;
   font-family: "Oswald", sans-serif;
font-size: 40px;   

}


.loginbtn{
   
    height: 40px;
    width: 100px;
    font-size: 18px;
    border: none;
background-color: lightgray;
border-radius: 25px;
 
}

.loginbtn:hover{
    background-color: red;
    color: white;

}

.sidebar-name{
    padding-left: 130px;
    padding-top: 15px;
    color: white;
font-size: 14px;
}

.sidebar-name b{

    color: red
};


.sidebar-link{

     margin-top: 5px;
}

 .sidebar-nav{
    display: flex;
    flex-direction: column;
    gap:30px;
font-size: 18px;
 margin-left: 15px;
  margin-top: 15px;


  
}

.sidebar-nav a{
    color: white;
    text-decoration: none;
    cursor: pointer;

}



.sidebar-nav a:hover{
    color: red;
    border: 10px;
    border-bottom: 2px solid red;
} 


.sidebar-btn{

    margin-top: 50px;
display: flex;
justify-content: space-between;
font-size: 15px;

}

.sidebar-btn button{
padding: 10px;
border: none;
background-color: lightgray;
border-radius: 30px;


}


.sidebar-btn button:hover{

    background-color: red;
color: white;

}



}









/* for TAB 768px */

@media(max-width:768px){

    /* .head-row{
    
        display: flex;
        flex-wrap: nowrap;
align-items: center;
    } */


      .head-row > .col-md-6{
        flex: 0 0 75%;
        max-width: 75%;
    }

    .head-row > .nav-user{
        /* flex: 0 0 25%; */
        max-width: 25%;
        /* display: flex; */
        justify-content: flex-end;
        /* align-items: center; */
    }
    
    .webname{
    padding-top: 5px;

}

  .nav-icon .fa-cart-shopping{
  padding-top: 50px; 
font-size: 20px;

    } 


.mobile-bar{

    width: 265px;
  

}

.exit-icon{
    font-size: 12px;

}

.sidebar-top h1{
    font-size: 37px;
}

.sidebar-name{
    padding-left: 150px;

}


.loginbtn{
    height: 33px;
    width: 90px;
    font-size: 16px;
    margin-top: 5px;
}

.sidebar-name{
    padding-left: 100px;
}

.sidebar-nav{
    font-size: 16px;

}


.sidebar-btn{
    font-size: 13px;
}


}




/* SM - 576px */

 @media(max-width:576px){

.mobile-bar{
    width: 250px;
}

.sidebar-top h1{

font-size: 30px;    
}

.sidebar-name{
    padding-left: 0px;
  
}

.loginbtn{
   
    height: 30px;
    width: 85px;
    font-size: 15px;
}

.sidebar-btn{

margin-top: 40px;
    font-size: 11px;

}

.sidebar-name{
    padding-left: 90px;
    font-size: 13px;
}



.sidebar-nav{
    font-size: 18px;
  gap:25px
}

.webname{
    padding-top: 5px;

}

.tittle{
    font-size: 27px;
}

 .subtitle {
        font-size: 19px;
    }

.hamb-bars{
    font-size: 21px;
}


.web-logo{
    height: 80px;
    margin-left: -17px;
}

.bolt-icon{
    font-size: 24px;
  

}



 .nav-icon .fa-cart-shopping{
  padding-top: 30px; 
font-size: 13px;

    }


} 




