

body{
        font-family: "Poppins", sans-serif !important;
        /* margin: 0px;
        padding: 0px;
        overflow-x: hidden; */
       
}

/* .head-row{
  position: relative;
} */


.mobile-bar{
    display: none;

}

.logo-area{
    display:flex;
    align-items:center;
    
} 

.logo-section{
    display:flex;
    align-items:center;
}


.bolt-icon{
    color: red;
 padding-bottom: 20px;
    font-size: 26px;

}

 .web-logo{
      height: 120px;
    margin-left: -35px;
   
    }


.webname{
    padding-top: 10px;
      font-family: "Oswald", sans-serif;
    
} 

 .tittle{
    color: red;
}

.subtitle{
   color: white;
font-size: 28px;

} 

.hamb-bars{
    color: white;
    display: none;
cursor: pointer;
    
    }
.hamb-bars:hover{
    color: red;
}


/* center div */

.nav-link{
    display: flex !important;
    align-items: center ;
    
  
}

 .nav-name{
    gap:36px;
font-size: 22px;

  
}

.nav-name a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    /* padding-bottom: 5px; */

}

.nav-name :hover a{
    color: red;
    border: 10px;
    border-bottom: 2px solid red;
} 






/* 3rd div */

 .nav-right{
 padding-left: 0px;
  

} 
 
 .welcome-text{
    color: lightgrey;
    padding-left: 0px;
margin-bottom: 40px;
  padding-left: 30px;

 gap: 25px;  

 } 

.welcome-text b{
    color: red;
    padding-left:5px;
}

.logbtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 19px;
}

.logbtn:hover i{
    color: red;
}


.nav-icon{

   padding-left: 0px; 
 display: flex;
    align-items: center;
    gap: 40px; 

}

.nav-icon i{
   color: white;
padding-left: 0px;
   font-size: 20px;
cursor: pointer;   
} 


.nav-icon i:hover{
    color: red;
} 





/* 

for DESKTOP 1450 */

@media(max-width: 1451px){

.bolt-icon{
    font-size: 19px;
    padding-bottom:13px;
}

.web-logo{
      height: 80px;
   margin-left: -25px;
    }

 .tittle{
  font-size: 29px;
}

.subtitle{
  
font-size: 18px;

} 



.nav-name{
font-size: 16px;
gap: 18px;

}

.hamb-bars{
    display: none;

}


 .welcome-text{
   
    padding-left: 0px;
margin-bottom: 20px;
font-size: 14px;
 gap: 25px;  

 } 

.logbtn{
    font-size: 16px;
}


.nav-icon{

    gap: 30px; 

}

 .nav-icon i{
  
   font-size: 17px;
cursor: pointer;   
} 


}







/* for LAPTOP 991PX */

@media(max-width:991px){


.nav-link{

    display: none !important;
}

.nav-name.d-flex{
    display: none !important;
}

.bolt-icon{
    font-size: 26px;
    padding-bottom: 10px;

}

.web-logo{
    height: 100px;
margin-left: -35px;
}

.tittle{
    font-size: 38px;
  
}

.subtitle{
    font-size: 28px;
    white-space: nowrap;
}

.webname{

padding-bottom: 10px;

}

.hamb-bars{
    display: inline-block;
    padding-left: 13px;
font-size: 30px;

}


.welcome-text{
   display: none;
}


.nav-user{
    margin-left: auto;

}



  .nav-icon .user-icon,
    .nav-icon .search-icon,
    .nav-icon .fa-heart{
        display: none;
    }

   .nav-icon .fa-cart-shopping{
  padding-top: 52px; 
font-size: 20px;

    }



        .head-row > .nav-user{
        /* flex: 0 0 25%; */
        /* max-width: 25%; */
        /* display: flex; */
        /* justify-content: flex-end; */
        /* align-items: center; */
    }



/* .welcome-text{
display: none;

} */


   .nav-icon .fa-cart-shopping{
     /* padding-top: 62px; 
padding-left: 80px; */
   /* position: absolute; */

 
   
    
}

/* MOBILE-SIDEBAR from  991px*/

.mobile-bar{
    display: block;
    height: 100%;
    width: 360px;
    position: fixed;
 top:0;

 z-index: 1001;
 
   background-color: black;
/* 
  display: flex;
    flex-direction: column; */

    padding: 15px 20px;
    box-sizing: border-box;



}

.close-row{
    display: flex;
    justify-content: flex-end;

}


.exit-icon{
    background-color:transparent;
    border: none;
    cursor: pointer;
    color: white;
    display: flex;
    font-size: 15px;
    padding-bottom: 8px;
  
   /* margin-top: -60px;
   padding-left: 100px; */
}

.exit-icon:hover{
    
    cursor: pointer;
    color: red;
   
  
   /* margin-top: -60px;
   padding-left: 100px; */
   

}

.sidebar-top{
  display: flex;
justify-content: space-between;


}

.sidebar-top h1{
    color: red;
   font-family: "Oswald", sans-serif;
font-size: 50px;   

}


.loginbtn{
   
    width: 110px;
    font-size: 20px;
    border: none;
background-color: lightgray;
border-radius: 25px;
 
}

.loginbtn{
padding: 0px;
height: 50px;
}


.loginbtn:hover{
    background-color: red;
    color: white;

}

.sidebar-name{
    padding-left: 180px;
    padding-top: 15px;
    color: white;

}

.sidebar-name b{

    color: red
};



.sidebar-link{
    margin-top: 20px;

}

 .sidebar-nav{
    display: flex;
    flex-direction: column;
    gap:30px;
font-size: 22px;


  
}

.sidebar-nav a{
    color: white;
    text-decoration: none;
    cursor: pointer;

}



.sidebar-nav a:hover{
    color: red;
    border: 10px;
    border-bottom: 2px solid red;
} 


.sidebar-btn{

    margin-top: 50px;
display: flex;
justify-content: space-between;
font-size: 18px;

}

.sidebar-btn button{
padding: 10px;
border: none;
background-color: lightgray;
border-radius: 30px;


}


.sidebar-btn button:hover{

    background-color: red;
color: white;

}



}









/* for TAB 768px */

@media(max-width:768px){

    /* .head-row{
    
        display: flex;
        flex-wrap: nowrap;
align-items: center;
    } */


      .head-row > .col-md-6{
        flex: 0 0 75%;
        max-width: 75%;
    }

    .head-row > .nav-user{
        /* flex: 0 0 25%; */
        max-width: 25%;
        /* display: flex; */
        justify-content: flex-end;
        /* align-items: center; */
    }




.mobile-bar{

    width: 330px;
  

}

.sidebar-name{
    padding-left: 150px;

}

}




